<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <h1>Lightning Out</h1>
</div>
	<script  src="https://myeurolife--qa.lightning.force.com/lightning/lightning.out.js" > </script>
<script>
       $Lightning.use("c:EclaimsApp", function() {
         console.log("App embeded")
           $Lightning.createComponent("c:Eclaims",
                {"token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6InJiaWJsdWF0In0.eyJpc3MiOiJDb25uZWN0IiwiZ29sZGVuUmVjb3JkSWQiOjEwMDE1MDQ5ODAsInBvbGljeU51bWJlciI6IjEwNTAwMDAwMDAiLCJpbnN1cmVkSWQiOiI4NDQyIiwiZGVwZW5kZW50TWVtYmVySWQiOiI4NDQyIiwiY2xhaW1JbnN1cmVkTmFtZSI6Is6azpHOms6RzpLOkSDOms6pzp3Oo86kzpHOnc6kzpnOnc6RIiwiY292ZXJhZ2VzIjoiNDAyMDAsNTAwMDIsNTAxMDIsNjAwMDIsNjAyMDEsNjAyMDEsNjAyMDEiLCJwZXJzb25hbENvbnRyYWN0cyI6IjEwMDA3ODU4OTYiLCJlbWFpbCI6InRlc3QxMDAxNTA0OTgwQGV1cm9saWZlLmdyIiwiY3VzdG9tZXJDb2RlIjoiMTE4Mzc5OCIsImp0aSI6Ijg3YmI4YTdmLTgwZDEtNDFhOC05NDk1LWRjNGMwYTVkNmNhNiIsImlhdCI6MTYzNDcyMjEzNywiZXhwIjoxNjM0NzIzMDM3fQ.SibYBD9cuKuAanvBUbSfot8Nn4AMYVdeRXqUGb-_8Fk"}, 
                "lightning",
                function(cmp) {
                  console.log("LWC component was created");
                  // do some stuff
                }
            ); 
          },
         "https://myeurolife--qa.lightning.force.com",
         "00D7Y000000BEE7!AR0AQGqvXydJa7WWb34xlDcx2CqHVXZ1Ospph.vw_FDaK8ILGyAq3PXch8YqzvyTDqMnFT0Pd_nbCvFMLE0pcy2xaccNVGH4",
        );
  </script>

<div id="lightning"></div>
<!--
<script type='text/javascript' src='https://service.force.com/embeddedservice/menu/fab.min.js'></script>
<script type='text/javascript'>
	var initESW = function(gslbBaseURL) {
		// Required if you want labels in a language that’s different from your user’s context.
		//embedded_svc.menu.settings.language = ''; //For example, enter 'en' or 'en-US'
		embedded_svc.menu.init(
			'https://myeurolife--qa.my.salesforce.com',
			'https://d.la2-c1cs-cdg.salesforceliveagent.com/chat',
			gslbBaseURL,
			'00D0E000000AUdf',
			'EmbeddedChatComponent'
		);
	};
	if (!window.embedded_svc || !window.embedded_svc.menu) {
		var s = document.createElement('script');
		s.setAttribute('src', 'https://myeurolife--qa.my.salesforce.com/embeddedservice/menu/fab.min.js');
		s.onload = function() {
			initESW(null);
		};
		document.body.appendChild(s);
	} else {
		initESW('https://service.force.com');
	}
</script>
-->

</body>
</html>
