<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <h1>Lightning Out</h1>
</div>
	 <script src="https://myeurolife--qa.lightning.force.com/lightning/lightning.out.js"></script>
		<script>
			   $Lightning.use("c:LoutTest", function() {
				 console.log("App embeded")
				   $Lightning.createComponent("c:EclaimsTest",
						{"token" : "eyJraWQiOiJrZXk0IiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiJFdWNhbHlwdHVzIiwiZXhwIjoxNjE3MTg3NzY4LCJ1aWQiOiIxIiwiYmNkIjoiMiJ9.JXDc1pM3VZaKxlX5BT5N9gM_kLheWlpwO82rlmZ4Pig"}, 
						"lightning",
						function(cmp) {
						  console.log("LWC component was created");
						  // do some stuff
						}
					); 
				  },
				 "https://myeurolife--qa.lightning.force.com",
				 "00D7Y000000BEE7!AR0AQE.YVmzLQaEka9i4JRgw0JxSmisubCV14x7rSXEFCgM598WbPLCCGcjgwHktgznDiV6o7AVxiqAJMSKXQL_nnNSrnQOx",
				);
		</script>

<div id="lightning"></div>
<!--
<script type='text/javascript' src='https://service.force.com/embeddedservice/menu/fab.min.js'></script>
<script type='text/javascript'>
	var initESW = function(gslbBaseURL) {
		// Required if you want labels in a language that’s different from your user’s context.
		//embedded_svc.menu.settings.language = ''; //For example, enter 'en' or 'en-US'
		embedded_svc.menu.init(
			'https://myeurolife--qa.my.salesforce.com',
			'https://d.la2-c1cs-cdg.salesforceliveagent.com/chat',
			gslbBaseURL,
			'00D0E000000AUdf',
			'EmbeddedChatComponent'
		);
	};
	if (!window.embedded_svc || !window.embedded_svc.menu) {
		var s = document.createElement('script');
		s.setAttribute('src', 'https://myeurolife--qa.my.salesforce.com/embeddedservice/menu/fab.min.js');
		s.onload = function() {
			initESW(null);
		};
		document.body.appendChild(s);
	} else {
		initESW('https://service.force.com');
	}
</script>
-->

</body>
</html>
