<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <h1>Lightning Out</h1>
  <script src="https://myeurolife--qa.lightning.force.com/lightning/lightning.out.js"></script>
  <script>
       $Lightning.use("c:LightningOutDemo", function() {
         console.log("App embeded")
           $Lightning.createComponent("c:NewDatable",
                {"token" : "eyJraWQiOiIxMjMiLCJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJFdWNhbHlwdHVzIiwiZXhwIjoxNjA3NjIwNzUyLCJ1aWQiOiI4MjQ3IiwiYmNkIjoiMzc0In0.9Rf8SmUITMpqWItuXHp98eyKKXy-aF4_EYxcpKLQmLo"},
                "lightning",
                function(cmp) {
                  console.log("LWC component was created");
                  // do some stuff
                }
            ); 
          },
         "https://myeurolife--qa.lightning.force.com",
         "00D0E000000AUdf!AQgAQNoXzaHORA7tRMJ2B1pNLTxE0gwR736RvRk0UAfgc3_5GdvFy6pNV1vqBqJyFVCZGZn7CJ35HdLidFAXlYYlxKcUMS5G",
        );
  </script>
</div>

<div class="jumbotron text-center">
  <h1>Chat</h1>
	<script type='text/javascript' src='https://c.la2-c1cs-cdg.salesforceliveagent.com/content/g/js/50.0/deployment.js'></script>
	<script type='text/javascript'>
		liveagent.init('https://d.la2-c1cs-cdg.salesforceliveagent.com/chat', '5720E000000CbL7', '00D0E000000AUdf');
	</script>
</div>


<div id="lightning"></div>


</body>
</html>
