<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <h1>Lightning Out</h1>
  <script src="https://myeurolife--qa.lightning.force.com/lightning/lightning.out.js"></script>
  <script>
       $Lightning.use("c:LightningOutDemo", function() {
         console.log("App embeded")
           $Lightning.createComponent("c:DataTableView",
                {"key" : "test123"},
                "lightning",
                function(cmp) {
                  console.log("LWC component was created");
                  // do some stuff
                }
            ); 
          },
         "https://myeurolife--qa.lightning.force.com",
         "00D0E000000AUdf!AQgAQM_1NnGdE1mu4LYn31nH2N2ffFo1doIf9v0Byzg7LXO.jd6mH2ANR1WeoYQ4jBWo9OyHQv_yLw.Vvx_txObPb2Ws00kq",
        );
  </script>
</div>

<div id="lightning"></div>


</body>
</html>
