<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <h1>Lightning Out</h1>
</div>
	<script src="https://myeurolife--qa.lightning.force.com/lightning/lightning.out.js"></script>
<script>
       $Lightning.use("c:EclaimsApp", function() {
         console.log("App embeded")
           $Lightning.createComponent("c:Eclaims",
                {"token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImtpZCI6Im9zeW1wdWF0In0.eyJpc3MiOiJDb25uZWN0IiwiZ29sZGVuUmVjb3JkSWQiOjEwMDI1NTI3NTcsInBvbGljeU51bWJlciI6IjE0NjUwMDAwMDAiLCJpbnN1cmVkSWQiOiIzODMxMSIsImVtYWlsIjoidGVzdEBpYm0uY29tIiwiZGVwZW5kZW50TWVtYmVySWQiOiIzODMxMSIsImNsYWltSW5zdXJlZE5hbWUiOiLOnM6gzp_Opc6dzpTOoc6XzqMgzpnOqc6Rzp3Onc6XzqMiLCJjb3ZlcmFnZXMiOiI0MDMwNiw1MDAwNiw1MDEwNiw2MDEwNiw2MDEwNiw2MDIwNiw2MDQxOSIsInBlcnNvbmFsQ29udHJhY3RzIjoiNDMyMzQyMzQyIiwianRpIjoiYjUzN2UwMTEtMDNlZi00MzdhLWFmZmMtY2JiYzZiNzY5MDE0IiwiaWF0IjoxNjMzMzMxODM5LCJleHAiOjE2MzMzMzI3Mzl9.LxHHk6o5JlH9Bb1_d4Ueb0IxN5Kaegj-nONBioBUQMU"}, 
                "lightning",
                function(cmp) {
                  console.log("LWC component was created");
                  // do some stuff
                }
            ); 
          },
         "https://myeurolife--qa.lightning.force.com",
         "00D7Y000000BEE7!AR0AQNm8u5BxaC49KxHI8n_pY9I9O46HcE90QKkQMxPvGCKUdEgwu_U8AbNsbkBTaw1ZPooCNDKErSzdSuFxQP3ORPrUiE4w",
        );
  </script>

<div id="lightning"></div>
<!--
<script type='text/javascript' src='https://service.force.com/embeddedservice/menu/fab.min.js'></script>
<script type='text/javascript'>
	var initESW = function(gslbBaseURL) {
		// Required if you want labels in a language that’s different from your user’s context.
		//embedded_svc.menu.settings.language = ''; //For example, enter 'en' or 'en-US'
		embedded_svc.menu.init(
			'https://myeurolife--qa.my.salesforce.com',
			'https://d.la2-c1cs-cdg.salesforceliveagent.com/chat',
			gslbBaseURL,
			'00D0E000000AUdf',
			'EmbeddedChatComponent'
		);
	};
	if (!window.embedded_svc || !window.embedded_svc.menu) {
		var s = document.createElement('script');
		s.setAttribute('src', 'https://myeurolife--qa.my.salesforce.com/embeddedservice/menu/fab.min.js');
		s.onload = function() {
			initESW(null);
		};
		document.body.appendChild(s);
	} else {
		initESW('https://service.force.com');
	}
</script>
-->

</body>
</html>
