<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

 <div class="jumbotron text-center">
  <h1>Lightning Out</h1>
</div>
<script src="https://myeurolife--qa.lightning.force.com/lightning/lightning.out.js"></script>
<script>
       $Lightning.use("c:LightningOutDemo", function() {
         console.log("App embeded")
           $Lightning.createComponent("c:NewDatable",
                {"token" : "eyJraWQiOiJrZXk0IiwidHlwIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiJFdWNhbHlwdHVzIiwiZXhwIjoxNjE3MTg3NzY4LCJ1aWQiOiIxIiwiYmNkIjoiMiJ9.YFGSEZNQQkrpEibJ-hi_2gYnCdYumfVqBYtxxvBLOIU"}, 
                "lightning",
                function(cmp) {
                  console.log("LWC component was created");
                  // do some stuff
                }
            ); 
          },
         "https://myeurolife--qa.lightning.force.com",
         "00D7Y000000BEE7!AR0AQDqoNg21daL.J5J9GN6yvHGhIEHorLYKa49Hfdr.TZXTpNf4g7byCNIQkLUBq8GbbsQAzsalBRD8OsIcVpWAF7BV.O.N",
        );
  </script>
<div id="lightning"></div> 



</body>
</html>
